@{
    ViewBag.Title = "Početna";
}
<style>
    .temalevo {
        background-image: linear-gradient(180deg, #E9333C, #E9333C, #222);
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        height: 140px;
        margin-bottom: 30px
    }

    .temadesno {
        background-image: linear-gradient(180deg, #E9333C, #E9333C, #222);
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        height: 140px;
        text-align: right;
        margin-bottom: 30px
    }
</style>
<div class="row container" style="width:100%;padding:0px;margin:0px;color:white;">
    <div class="col-md-3" style="padding:0px">

    </div>


    <div class="col-md-6" style="padding-right:15px">
        <h2 style="color:white;padding:20px 0px 15px 0px">Najpopularnije teme</h2>
        @{
            for (int i = 1; i != 5; ++i)
            {
                <a style="color:white" href="https://www.youtube.com/watch?v=AJkmCnfn-G8&list=RDAJkmCnfn-G8&start_radio=1&ab_channel=AerodromTV">
                    <div class="col-md-6 temalevo">
                        <h2 style="margin-top:20px">O čemu je tema</h2>
                        <p style="font-weight:bold;font-size:15px">
                            Pitanje
                        </p>
                        <p style="font-weight:bold;font-size:15px">
                            Ko je postavio: username
                        </p>
                    </div>
                    <div class="col-md-6 temadesno">
                        <p style="margin-top:30px">Pregleda: 0 pregleda</p>
                        <p style="margin-top:-5px;line-height:95px">
                            Vreme postavljanja: 13:02 PM
                        </p>
                    </div>
                </a>
            }
        }
    </div>

    <div style="position: -webkit-sticky!important;top:-45px;position:sticky">
        <div class="col-md-3" style="padding:99px 15px 0px 0px">
            <div style="border:1">
                <img src="~/Content/user.png" width="50px" />
            </div>
        </div>
    </div>
</div>
